html {
  background: #065e18;

  border: 0 solid #55b8ae;
  border-width: 0 5vw;
  border-image: linear-gradient(#55B8AE 0%, #55B8AE 20%, #45A690 20%, #45A690 40%, #359472 40%, #359472 60%, #268254 60%, #268254 80%, #167036 80%) 1 100%;
}

body,
a:link,
a:visited {
  color: palegreen;
}

body {
  padding: 0 5vw;

  grid-row: 2;

  font: 18px/24px Calibri, Carlito, "PT Sans", "Fira Sans", "Ubuntu", "Gill Sans", sans-serif;
  font-variant-numeric: oldstyle-nums;
  margin: auto;
  padding: 1em;
  text-align: center;
}

header {
  margin: 4em 0;
}

h1, h2, h3 {
  line-height: 1.2;
}

footer, nav, article header {
  margin: 2em 0;
}

ul {
  padding: 0;
  margin: 1em 0 2em 0;
}

ul li {
  list-style: none;
  margin: 1em 0;
}

figure {
  background: lightgray;
  padding: 3vw 0;
}

figure img {
  max-width: 100%;
  height: auto;
}

.author {
  font-variant: small-caps;
}

abbr {
  font-variant: all-small-caps;
}

.author, abbr {
  letter-spacing: 0.06125em;
}